<div class="jumbotron">
  <h1>ColossusBets</h1>
</div>

<div class="row marketing">
  <table class="table">
    <thead>
      <tr>
        <th>Correct Score</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pool in groups[0].pools">
        <td><a href="#/{{pool.id}}">{{pool.name}}</a></td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th>1x2</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pool in groups[1].pools">
        <td><a href="#/{{pool.id}}">{{pool.name}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
