<p>This is the pool view for pool  {{pool_id}}</p>

<ul class="list-group">
  <li class="list-group-item">Pool name - {{pool.pool_info.name}}</li>
  <li class="list-group-item">Headline prize - {{pool.pool_info.headline_prize | currency: "£"}}</li>
  <li class="list-group-item">Status - {{pool.pool_info.status}}</li>
  <li class="list-group-item">Starts - {{pool.pool_info.sched_start | date:'fullDate'}}</li>
</ul>

<label for="stake">Select Stake:</label>
<select name="stake" ng-model="pool.selectedOption" ng-options="o as (o | currency: '£') for o in stakeOptions">
</select>

<div class="leg-wrap" ng-repeat="leg in pool.legs">
  <ul class="leg">
    <li ng-click="toggle(selection)" ng-class="{'selected':selection.selected}" class="unit" ng-repeat="selection in leg.selections">{{selection.name}}</li>
  </ul>
</div>
